[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "multiDimBio"]
	path = multiDimBio
	url = https://github.com/scarpino/multidimbio
